.navbar {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
}

.navbar div {
  display: flex;
  align-items: center;
}

.navbar img {
  width: 50px;
  height: 50px;
  animation: stamp 0.5s linear 0s 1 backwards;
}

.navbar p {
  animation: stamp 0.5s linear 0s 1 backwards;
}

@keyframes stamp {
  0% {
    opacity: 0;
    transform: translate(30px, -10px) scale(1.2);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}